* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

header {
    font-family: 'Nerko One';
    min-height: 100px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}

header h1 {
    font-family: 'Nerko One';
    color: #FF9614;
    font-size: 64px;
    text-shadow: 1px 1px 2px black;
    display: flex;
    position: absolute;
    left: 50px;
}


main {
    background-color: #F6F5F3;
    display: flex;
    justify-content: center;
}

.container {
    background-color: yellow;
    min-height: 550px;
    width: 80%;
    margin-top: 100px;
}














/* Footer */

footer {
    background-color: #7C69A4;
    min-height: 100px;
}