* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

header {
    font-family: 'Nerko One';
    min-height: 100px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}

header h1 {
    font-family: 'Nerko One';
    color: #FF9614;
    font-size: 64px;
    text-shadow: 1px 1px 2px black;
    display: flex;
    position: absolute;
    left: 50px;
}

/* Main */

main {
    background-color: #F6F5F3;
    display: flex;
    justify-content: center;
}

.container {
    min-height: 950px;
    width: 65%;
    margin-top: 100px;
}

.main-title h4 {
    font-weight: 100;
    margin-bottom: 10px;
}

.main-title h1 {
    color: #4E3969;
    font-size: 48px;
    margin-bottom: 32px;
}


.main-video-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

.main-video {
    flex: 2;
    min-width: 600px;
    background-color: white;
    position: relative;
    aspect-ratio: 16 / 9;
}

.video-info {
    flex: 1;
    min-width: 240px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    min-height: 100%;
}

.video-info h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

.video-info p {
    font-size: 24px;
    padding-bottom: 16px;
}

.main-video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/* Social */

.social {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #f4f2f0;
    gap: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.social .badge {
    background-color: white;
    border-radius: 50px;
    padding: 12px 48px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.15);
    font-weight: bold;
    font-size: 16px;
}

.social .badge i {
    font-size: 16px;
}

/* Banner */

.main-banner img {
    width: 100%;
}

/* Main content */

.main-content h2 {
    margin-top: 32px;
    font-weight: 100;
    font-size: 40px;
}

.main-content h2:after {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    border-radius: 2px;
    background-color: #F7972E;
    margin-top: 10px;
    margin-bottom: 50px;
}

.float-sx {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 300px;
}

.clearfix {
    font-size: 23px;
    margin-bottom: 128px;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}



/* Footer */

footer {
    background-color: #7C69A4;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-dx ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-right: 16px;
    list-style-type: none;
}

.footer-dx a {
    color: white;
}

.footer-sx-up {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-sx-down {
    color: white;
}


/* Responsive Tablet */
@media screen and (max-width:768px) {

    .main-video {
        flex: 2;
        min-width: 500px;
        background-color: white;
        position: relative;
        aspect-ratio: 16 / 9;
    }

    .main-title h1 {
        color: #4E3969;
        font-size: 32px;
        margin-bottom: 32px;
    }

    .social .badge span {
        display: none;
    }

    .social .badge {
        padding: 12px 29px;
    }

    footer {
        background-color: #7C69A4;
        min-height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footer-sx {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 6px;
    }

    .footer-dx ul {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-right: 16px;
        list-style-type: none;
    }
}